* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.dark {
    background-color: grey;
}

.spiner {
    border: 10px solid transparent;
    border-radius: 50%;
    border-color: red yellow blue green;
    width: 100px;
    height: 100px;
    animation: rotate 1s linear infinite forwards,
    tranScale 0.3s infinite;
}

.dark__mode {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    display: none;
}

label  {
    border-radius: 25px;
    width: 150px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
}

label::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 50%;
    line-height: 50px;
    display: flex;
    margin: 3px;
}

input:checked + label::before {
    transform: translateX(100px);
    background-color: white;
    transition: 0.3s linear;
}

label span {
    width: 200px;
    width: 50px;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes tranScale {
    100%, 0% {
        scale: 1;
    }
    25% {
        scale: 0.75;
    }
    50% {
        scale: 0.5;
    }
}